# D04S: Dataframes - Refining and Indexing Solutions

#### Exercise 1: Import the file below and then:

1) Drop the Unnamed:0 column<br/>
2) Return the columsn list as a new variable<br/>
3) Keep only the price, ram, cd and trend columns
4) Create new datasets for each of the following where statements:

* Where trend greater than 12 and less that or equal to 24
* Where ram is either 16 or 32
* Where price is greater than 2500 and cd is yes

In [2]:
path = "https://vincentarelbundock.github.io/Rdatasets/csv/Ecdat/Computers.csv"

In [3]:
import pandas as pd

df = pd.read_csv(path)

df = df.drop('Unnamed: 0',axis=1)

cols = df.columns

df = df[['price','ram','cd','trend']]

df1 = df[(df['trend'] > 12) & (df['trend'] <= 24)]
df2 = df[df['ram'].isin([16,32])]
df3 = df[(df['price'] > 2500) & (df['cd'] == 'yes')]

#### Exercise 2: Retrieve the records at the following item locations from the base dataset:

* 300
* 1000-1010
* Last 10 records
* The middle record

In [ ]:
df.iloc[300]
df.iloc[1000:1010]
df.iloc[-10:-1]
df.iloc[int((len(df)/2))]

#### Exercise 3: From the base dataset you imported:
* Set the index as the trend column
* Drop the name of the index
* Create a new a new dataframe for the trend values 1-6
* reset the index of this new dataframe
* drop any unwanted variables

In [5]:
df = pd.read_csv(path)
df.head(5)

   Unnamed: 0  price  speed   hd  ram  screen  cd multi premium  ads  trend
0           1   1499     25   80    4      14  no    no     yes   94      1
1           2   1795     33   85    2      14  no    no     yes   94      1
2           3   1595     25  170    4      15  no    no     yes   94      1
3           4   1849     25  170    8      14  no    no      no   94      1
4           5   3295     33  340   16      14  no    no     yes   94      1

In [6]:
df = df.set_index('trend')

In [8]:
df.head(5)

       Unnamed: 0  price  speed   hd  ram  screen  cd multi premium  ads
trend
1               1   1499     25   80    4      14  no    no     yes   94
1               2   1795     33   85    2      14  no    no     yes   94
1               3   1595     25  170    4      15  no    no     yes   94
1               4   1849     25  170    8      14  no    no      no   94
1               5   3295     33  340   16      14  no    no     yes   94

In [9]:
df.index.name = None

In [10]:
df.head(5)

   Unnamed: 0  price  speed   hd  ram  screen  cd multi premium  ads
1           1   1499     25   80    4      14  no    no     yes   94
1           2   1795     33   85    2      14  no    no     yes   94
1           3   1595     25  170    4      15  no    no     yes   94
1           4   1849     25  170    8      14  no    no      no   94
1           5   3295     33  340   16      14  no    no     yes   94

In [ ]:
new = df.ix[[1,2,3,4,5,6]].reset_index().drop(['index','Unnamed: 0'], axis=1)