# D06: Summary Statistics & GroupBy

Here we'll be exploring some basic statistical functions we can perform on dataframes. We'll start by importing pandas and numpy and importing some data.

In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://raw.github.com/pydata/pandas/master/pandas/tests/data/tips.csv'
df = pd.read_csv(url)

In [3]:
df.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Pandas can produce some excellent summary statistics for us by calling a variety of methods on the dataframe object we've just created.

In [ ]:
''' Some Basics '''

sum_col = df['total_bill'].sum()      # Summing columns (ignores NaN values)
cou_col = df['total_bill'].count()    # Counting values in a column (ignores NaN values)
min_col = df['tip'].min()             # Returns the minimum value in a column
min_idx = df['size'].idxmin()         # Returns the index of the minimum value in a column
max_col = df['size'].max()            # Returns the maximum value in a column
max_idx = df['size'].idxmax()         # Returns the index of the maximum value in a column

''' Averages + Stats '''

med_col = df['size'].median()                       # Returns the median  
mean_col = df['size'].mean()                        # Returns the mean
mode_col = df['size'].mode()                        # Returns the mode
std_col = df['tip'].std()                           # Returns the standard deviation
var_col = df['tip'].var()                           # Returns the variance
qua_col = df['total_bill'].quantile([.25,.5,.75,1]) # Returns the quantile values (note you can use any % values you like!)
stats_col = df['total_bill'].describe()             # Returns summary statistics (count, mean, std, min, 25%, 50%, 75%, max)

''' Cumulative Values'''

df['tip cumulative'] = df['tip'].cumsum()           # Creating a column for the Cumulative Sum
df['tip cumulative max'] = df['tip'].cummax()       # Creating a column for the Cumulative Max
df['tip cumulative min'] = df['tip'].cummin()       # Creating a column for the Cumulative Min

Note that we can also specify keyword arguements to the methods. For example controlling how we deal with missing values with the skipna keyword argument:

In [11]:
sum_col = df['total_bill'].sum(skipna = False)

We also can be more versatile with how we call methods. They don't have to be on a single column:

In [12]:
sum = df.sum()     # Sums the values in the dataset
sum

total_bill                                                  4827.77
tip                                                          731.58
sex               FemaleMaleMaleMaleFemaleMaleMaleMaleMaleMaleMa...
smoker            NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...
day               SunSunSunSunSunSunSunSunSunSunSunSunSunSunSunS...
time              DinnerDinnerDinnerDinnerDinnerDinnerDinnerDinn...
size                                                            627
tip cumulative                                               1955.8
dtype: object

In [13]:
sum2 = df[['size','tip','total_bill']].sum()    # sums the values in the selected columns
sum2

size           627.00
tip            731.58
total_bill    4827.77
dtype: float64

## Groupby

Whilst this is nice, you'll probably be wanting to create summary tables of statistics rather than storing them as individual objects and this is where <b>groupby</b> can help us.

Groupby does three things for us:

* <b>Split</b> Splits the data out based upon the input parameters
* <b>Apply</b> Applies a function/method/transformation to each group separately 
* <b>Combine</b> Combines the resulting data into a single data structure

You'll hear this referred to as 'Split, Apply, Combine' but this makes things sound a little complicated! In actual fact it's easy to understand once you've seen an example:

In [14]:
gp1 = df.groupby('sex').sum()         # Simple Groupby statment
gp1

        total_bill     tip  size  tip cumulative
sex
Female     1570.95  246.51   214           689.1
Male       3256.82  485.07   413          1266.7

Here we've split out the sex variable from the tips dataset, applied a sum() method and combined the results into a new dataframe.

We can group my more than one variable and use different methods as well:

In [20]:
gp2 = df.groupby(['sex','time']).mean() # Grouping by two variables
gp2

               total_bill       tip      size  tip cumulative
sex    time
Female Dinner   19.213077  3.002115  2.461538        7.638077
       Lunch    16.339143  2.582857  2.457143        8.340571
Male   Dinner   21.461452  3.144839  2.701613        7.983387
       Lunch    18.048485  2.882121  2.363636        8.386667

You'll notice that the sex and time columns are in bold. This is because groupby automatically creates an index for them - you can create multiple indexes on a dataframe and this is called multiindexing and where things start to get complicated! We could reset the index to a basic numeric index as follows:

In [21]:
gp2.reset_index(inplace=True)        # Reseting the index inplace without creating a new object
gp2 = gp2.reset_index()
gp2

      sex    time  total_bill       tip      size  tip cumulative
0  Female  Dinner   19.213077  3.002115  2.461538        7.638077
1  Female   Lunch   16.339143  2.582857  2.457143        8.340571
2    Male  Dinner   21.461452  3.144839  2.701613        7.983387
3    Male   Lunch   18.048485  2.882121  2.363636        8.386667

Note the inplace=True keyword argument to the reset_index() method. This allows us to modify the index inplace without specifying to create or overwrite a new object like so:

In [ ]:
gp2 = gp2.reset_index()

Note that we could just keep the first level of the index (sex because that was specified first in the groupby function) as follows:

In [22]:
gp2 = df.groupby(['sex','time']).mean()       # Grouping by the sex and time variables
gp2 = gp2.reset_index(level=0)                # Reseting the index to level 0
gp2.sort_index(inplace=True)                  # Sorting by the index
gp2.index.name = None                         # Renaming the index so it displays nicely =)
gp2

           sex  total_bill       tip      size  tip cumulative
Dinner  Female   19.213077  3.002115  2.461538        7.638077
Dinner    Male   21.461452  3.144839  2.701613        7.983387
Lunch   Female   16.339143  2.582857  2.457143        8.340571
Lunch     Male   18.048485  2.882121  2.363636        8.386667

Often using the groupby function will be the final step before you visualise your data with a chart or graph.

## Further Reading

<a href = "http://pandas.pydata.org/pandas-docs/stable/groupby.html">GroupBy</a>