# D06S: Summary Statistics & GroupBy Solutions

#### Exercise 1: Using the <a href = "https://vincentarelbundock.github.io/Rdatasets/doc/datasets/Titanic.html">titanic survivors csv dataset</a> :

1) Import the data and create a pandas dataframe<br/>
2) Create a summary table of this data. (Hint - this is easier of you create a numeric variable and use sum()) <br/>
3) How could you create a percentage variable? (Hint - Google / StackOverflow!)<br/>
4) Merge the new Percentage variable onto your summary table

In [1]:
import pandas as pd

path = "https://vincentarelbundock.github.io/Rdatasets/csv/COUNT/titanic.csv"

In [2]:
# Q1)

tt = pd.read_csv(path)
tt = tt.drop('Unnamed: 0', axis=1)
tt['passengers'] = 1     # Creating a numeric variable
tt.head(5)

       class     age  sex survived  passengers
0  1st class  adults  man      yes           1
1  1st class  adults  man      yes           1
2  1st class  adults  man      yes           1
3  1st class  adults  man      yes           1
4  1st class  adults  man      yes           1

In [7]:
# Q2)

gp1 = tt.groupby(['class','survived']).sum().reset_index() # NB. This only works because we created the passengers variable
gp1

       class survived  passengers
0  1st class       no         122
1  1st class      yes         203
2  2nd class       no         167
3  2nd class      yes         118
4  3rd class       no         528
5  3rd class      yes         178

In [10]:
# Q3) Excellent example here: http://stackoverflow.com/questions/23377108/pandas-percentage-of-total-with-groupby


gp2 = gp1.groupby(level=0).apply(lambda x: 100*x/float(x.sum()))
gp2

TypeError: cannot convert the series to <class 'float'>

In [ ]:
# Q4)

gp2 = gp2.rename(columns={'passengers':'passengers %'})
gp2
gp_merge = pd.merge(left = gp1,
                   right = gp2,
                   left_index=True, 
                   right_index=True)
gp_merge